{% load form_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ operation }} Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container ml-2">
        <h1>{{ operation }} Event</h1>
        <form method="post">
            {% csrf_token %}
            {% render_field form.name %}
            {% render_field form.description %}
            {% render_field_w_plus_btn form.fkey_sport %}
            {% render_field_w_plus_btn form.fkey_venue %}
            {% render_field_w_plus_btn form.fkey_home_team %}
            {% render_field_w_plus_btn form.fkey_away_team %}
            {% render_field form.date %}
            {% render_field form.time %}
            {% render_field form.status %}
            <button class="btn bg-primary mt-3" type="submit">Save</button>
        </form>
    </div>
</body>
</html>
