<!DOCTYPE html>
<html>
<head>
    <title>Sport Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <style>
        .card {
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .card .date {
            font-size: 0.9em;
            color: #888;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sport Events</h1>
        {% for event in events %}
            <div class="card">
                <h3><a href="#" data-toggle="modal" data-target="#eventModal{{ event.id }}">{{ event }}</a></h3>
                <p class="title">Date: {{ event.name }}</p>
                <p class="date">Date: {{ event.date }}</p>
                <p class="time">Time: {{ event.time }}</p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel{{ event.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eventModalLabel{{ event.id }}">{{ event.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ event.name }}</p>
                            <p>{{ event.description }}</p>
                            <p>Date: {{ event.date }}</p>
                            <p>Time: {{ event.time }}</p>
                            <p>Venue: {{ event.fkey_venue.name }}</p>
                            <p>
                                Teams: {{ event.fkey_away_team.name}} vs {{ event.fkey_home_team.name}}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not events %}
            <p>No sport events found.</p>
        {% endif %}
    </div>
</body>
</html>