<!DOCTYPE html>
<html>
<head>
    <title>Sport Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .card .date {
            font-size: 1em;
            color: #666;
        }

        .card .sport {
            font-size: 1.1em;
            color: #444;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>Calendar</h1>
            
            <!-- Plus Button -->
            <a href="{% url 'add_event' %}" class="btn btn-primary btn-lg add-button">
                <span class="glyphicon glyphicon-plus"></span> +
            </a>
        </div>
        
        <!-- Search Bar -->
        <form method="GET" action="{% url 'events' %}" class="form-inline my-2 my-lg-0 ">
            <div class="searchbar mb-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>    
        </form>
        
        {% if events %}
            {% for event in events %}
                <div class="card">
                    <h3>
                        <a class="text-primary" data-toggle="modal" data-target="#eventModal{{ event.id }}">
                            {{ event.name }}: {{ event.fkey_away_team.name }} vs {{ event.fkey_home_team.name }}
                        </a>
                    </h3>
                    <p class="sport">{{ event.fkey_sport }}</p>
                    <p class="date">{{ event.date }}&nbsp;&nbsp;&nbsp;&nbsp;{{ event.time }}</p>
                </div>

                {% include 'event_modal.html' %}
            {% endfor %}
        {% else %}
            <p>No sport events found.</p>
        {% endif %}
    </div>
</body>
</html>