{% extends 'base.html' %}

{% block title %}
    {% if model_name == "country" %}
        Countries
    {% else %}
        {{ model_name|capfirst}}s
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>
                {% if model_name == "country" %}
                Countries
                {% else %}
                    {{ model_name|capfirst }}s
                {% endif %}
            </h1>
            
            <!-- Plus Button -->
            <a href="{% url 'add_model' model_name %}" class="btn btn-primary btn-lg add-button">
                +
            </a>
        </div>
            {% for model in models %}
                <div class="card">
                    <h3>
                        <a class="text-primary" data-toggle="modal" data-target="#modelModal{{ model.id }}">
                            {{ model.name }}
                        </a>
                    </h3>
                </div>
                {% include 'models/model_modal.html' %}
            {% empty %}
                <p>Nothing found.</p>
            {% endfor %}
    </div>
{% endblock %}
